<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="comm.menu">

    <resultMap id="menu" type="hmap">
        <result property="menu_nm" column="menu_nm"/>
        <result property="path" column="path"/>
    </resultMap>
    <resultMap id="listOfMenu" type="hmap">
        <result property="up_menu_nm" column="up_menu_nm"/>
        <collection property="menu" column="menu_nm" javaType="java.util.ArrayList" resultMap="menu" />
    </resultMap>
    <select id="getMyMenu" parameterType="hmap" resultMap="listOfMenu">
        SELECT aa.menu_nm,
               aa.up_menu_nm,
               bb.program_path AS path
          FROM (SELECT a.up_menu_id,
                       a.menu_nm,
                       b.menu_nm AS up_menu_nm,
                       a.menu_id,
                       a.order_no,
                       b.up_ord_no,
                       a.program_no
                  FROM (SELECT *
                          FROM system_menu_mst
                         WHERE lev = 3
                           and use_yn = 'Y') a
                       JOIN (SELECT menu_id,
                                    up_menu_id,
                                    menu_nm,
                                    program_no,
                                    order_no AS up_ord_no
                               FROM system_menu_mst
                              WHERE up_menu_id = #{up_menu_id}
                                AND use_yn = 'Y') b ON a.up_menu_id = b.menu_id) aa
                 JOIN (SELECT a.program_no,
                              a.program_path
                         FROM (SELECT *
                                 FROM system_program_mst
                                WHERE use_yn = 'Y') a
                              JOIN (SELECT *
                                      FROM system_program_user
                                     WHERE user_no = #{sess_user_no}) b ON a.program_no = b.program_no) bb ON aa.program_no = bb.program_no
         ORDER BY up_ord_no, order_no
    </select>

    <select id="getOthersInMenu" parameterType="hmap" resultType="hmap">
        select aa.user_no,
               email as email,
               if(name is null, '', name) as name
          from (select *
                  from bike_user_mst
                 where status = '101-001'
                   and user_no not in (select b.user_no
                                         from (select *
                                                 from system_program_mst
                                                where program_id = #{pgm_id}) a
                                              join system_program_user b on a.program_no = b.program_no)) aa
                join bike_user_info bb on aa.user_no = bb.user_no
    </select>

    <select id="getUsersInMenu" parameterType="hmap" resultType="hmap">
         select c.user_no,
                email,
                if(name is null, '', name) as name,
                read_wrt as read_wrt_code,
                comm_nm as read_wrt
           from (select *
                   from system_program_mst
                  where program_id = #{pgm_id}) a
			    join system_program_user b on a.program_no = b.program_no
			    join bike_user_mst c on b.user_no = c.user_no
			    join bike_user_info d on c.user_no = d.user_no
			    join (select *
			            from com_comm_mst
			           where up_comm_cd = '002') auth on b.read_wrt = auth.comm_cd
          where c.status = '101-001';
    </select>

    <select id="findProgramIdByMenuId" parameterType="hmap" resultType="string">
        select b.program_id
          from (select *
                  from system_menu_mst
                 where menu_id = #{menu_id}
                   and lev = 3
                   and use_yn = 'Y') a
               join system_program_mst b on a.program_no = b.program_no
         where b.use_yn = 'Y'
    </select>

    <select id="getMenuList" parameterType="hmap" resultType="hmap">
      SELECT menu_id,
             menu_nm
        FROM (SELECT A.menu_id,
                     A.menu_nm,
                     B.order_no AS f_order_no,
                     A.order_no AS s_order_no
                FROM (SELECT *
                        FROM system_menu_mst
                       WHERE lev = 3
                         AND use_yn= 'Y') A
                      JOIN (SELECT *
                              FROM system_menu_mst
                             WHERE up_menu_id= #{menu_position}
                               AND lev = 2
                               AND use_yn = 'Y') B ON A.up_menu_id = B.menu_id) AA
       ORDER BY AA.f_order_no, AA.s_order_no
    </select>

    <resultMap id="allMenu" type="hmap">
        <result property="menu_nm" column="menu_nm"/>
        <result property="pgm_id" column="pgm_id"/>
        <result property="path" column="path"/>
    </resultMap>
    <resultMap id="listOfAllMenu" type="hmap">
        <result property="up_menu_nm" column="up_menu_nm"/>
        <collection property="menu" column="menu_nm" javaType="java.util.ArrayList" resultMap="allMenu" />
    </resultMap>
    <select id="fetchAllMenus" parameterType="hmap" resultMap="listOfAllMenu">
        SELECT a.menu_nm,
               b.menu_nm AS up_menu_nm,
               c.program_id as pgm_id,
               c.program_path as path
          FROM (SELECT *
                  FROM system_menu_mst
                 WHERE lev = 3
                   and use_yn = 'Y') a
               JOIN (SELECT menu_id,
                            up_menu_id,
                            menu_nm,
                            program_no,
                            order_no AS up_order_no
                       FROM system_menu_mst
                      WHERE up_menu_id = 'L_MENU'
                        AND use_yn = 'Y') b ON a.up_menu_id = b.menu_id
               left outer JOIN (SELECT program_no,
									   program_id,
                                       program_path
                                  FROM system_program_mst
                                         WHERE use_yn = 'Y') c ON a.program_no = c.program_no
         ORDER BY up_order_no, order_no
    </select>

</mapper>